html {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: flex;
  width: 100%;
  position: absolute;
}

.card {

}

.card-body {
  position: relative;
  bottom: 0;
}

.card-content {
}
